body {
    font-family: Arial, sans-serif;
    background-color: #b7d7fa;
    position: relative;
    display: flex;
    flex-direction: column; /* Organiza o conteúdo em coluna */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    min-height: 100vh; /* Garante que o body ocupe toda a altura da viewport */
    box-sizing: border-box; /* Inclui padding no cálculo de largura/altura */
}

.content {
    text-align: center;
    max-width: 100%;
    border: solid 2px #007bff;
    border-radius: 5px;
    width: 40%;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 20px;
}

@media (max-width: 1200px) {
    .content {
        width: 80%;
    }
}

@media (max-width: 400px) {
    .content {
        width: 85%;
    }
}
h2, h3{
    color: rgb(17, 14, 117);
}
h4{
    color: #269f07;
}
form {
    margin-bottom: 20px;
}
.input-group {
    margin-bottom: 10px;
}
.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: rgb(17, 14, 117);
}
.input-group input {
    width: 75%;
    padding: 10px;
    border: 1px solid #007bff; 
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    background-color: #cedeee;
}

.input-group input:focus {
    border-color: #0056b3; 
    box-shadow: 0 0 5px #0056b3;
    outline: none;
}

button {
    margin-top: 25px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}

/* Estilo geral para o select */
select {
    background-color: #b7d7fa; 
    border: 2px solid #007bff; 
    border-radius: 8px; 
    padding: 10px 15px; 
    font-size: 14px; 
    color: #333; 
    outline: none; 
    transition: border-color 0.3s ease; 
    cursor: pointer;
}

/* Estilo para o hover */
select:hover {
    border-color: #0056b3; 
}

/* Estilo para o focus */
select:focus {
    border-color: #007bff; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}

/* Estilo para as opções dentro do select */
option {
    padding: 10px; 
    background-color: #fff; 
    color: #333; 
}

/* Opções no hover */
option:hover {
    background-color: #f0f0f0; 
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #a9cdf4;
}
table, th, td {
    border: 1px solid #0056b3;
}
th, td {
    padding: 10px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
}
tr > th{
    background-color: #0056b3;
    color: white;
}

 /* Estilo da div oculta inicialmente */
 #conteudo {
    display: block;
    height: 0px; /* Inicialmente oculto */
    overflow: hidden; /* Impede que o conteúdo ultrapasse a altura da div */
    padding: 10px;
    margin-top: 10px;
    opacity: 0; /* Começa invisível */
    transition: height 0.5s ease, padding 0.5s ease, opacity 0.5s ease; /* Adiciona animação para opacidade */
}

/* Botão para expandir/ocultar */
#botao {
    margin-top: 0px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

#botao:hover {
    background-color: #0056b3;
}

button{
    border-radius: 5px;
}

.checkbox-group {
    display: flex;
    gap: 2rem; /* Espaçamento entre os checkboxes */
    align-items: center; /* Alinha verticalmente os itens */
}

/* Estilizando o checkbox */
input[type="checkbox"] {
    margin-top: 0px;
    appearance: none; /* Remove a aparência padrão do checkbox */
    width: 21px;
    height: 20px;
    border: 2px solid #007bff;
    border-radius: 4px;
    background-color: white;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

/* Efeito de hover para o checkbox */
input[type="checkbox"]:hover {
    border-color: #0056b3;
}

/* Quando o checkbox está marcado */
input[type="checkbox"]:checked {
    background-color: #007bff;
    border-color: #007bff;
}

/* Efeito para o marcador (check) */
input[type="checkbox"]:checked::before {
    width: 20px;
    content: '\2714'; /* Marca o checkbox com um check */
    position: absolute;
    top: -2px;
    left: 4px;
    font-size: 14px;
    color: white;
}

.checkbox-group {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap; /* Permite que os itens quebrem para a linha seguinte quando necessário */
}

.checkbox-group > div {
    display: flex;
    align-items: center;
}

/* Responsividade - ajustar para telas pequenas */
@media (max-width: 630px) {
    .checkbox-group {
        flex-direction: column; /* Organiza os itens em coluna em telas pequenas */
        align-items: center; /* Alinha os itens à esquerda */
    }
}

*{
    scrollbar-width: thin;          
    scrollbar-color: #0056b3 #b7d7fa;   
}

#escalaTabelaImpedimentos thead {
    position: sticky;
    top: -1px;
    z-index: 2; /* Maior que o tbody */
}